@import "../../styles/util";

.site {
    padding: 50px 0 38px 0;

    @include min(992) {
        padding: size(103) 0;
    }

    :global {
        .row {
            --bs-gutter-y: 15px
        }
    }

    &_head {
        max-width: 813px;
        margin: auto;

        h2 {
            font-size: 24px;
            color: #007864;
            text-align: left;
            margin-bottom: 14px;

            @include lg {
                color: #000;
                text-align: center;
                margin-bottom: 16px;
                font-size: size(30);
            }

        }

        p {
            text-align: left;
            font-size: 16;
            margin-bottom: 28px;

            @include lg {
                text-align: center;
                font-size: size(18);
                margin-bottom: size(55);
            }

        }
    }

    &_wrap {
        @include min(1400) {
            max-width: 1120px;
            margin: 0 auto;
        }
    }

    .content {
        display: flex;

        &_img {
            flex: 0 0 33%;

            &_wrap {
                @include min(578) {
                    max-width: 328px;
                }

                max-width: 100%;

                figure {
                    --bs-aspect-ratio: 61%;
                }
            }
        }

        &_text {
            flex: 0 0 67%;
        }
    }

    .btn_wrap {
        display: flex;
        justify-content: center;
        :global{
            .button{
                padding: 13px 30px;
            }
        }

    }
}