@import "../../styles/util";


.ev_cookies_info {
  pointer-events: all;

  position: fixed;
  bottom: 41px;
  left: 0;
  right: 0;
  z-index: 1025;
  @include min(992){
    bottom: 0;
  }
}

.outer_body {
  background-color: #fff;
  padding: size(25) 0;
  border: 1px solid #ededed;
}

.cookies_infobody {
  :global {
    .row {
      @include min(992) {
        --bs-gutter-x: 2.5rem;
      }

      @include min(1400) {
        --bs-gutter-x: 5.5rem;
      }
    }
  }

  .col_left {
    @include lg {
      width: 60%;
    }

    @include min(1600) {

      width: 67%;
    }
  }

  .col_right {
    @include lg {
      width: 40%;
    }

    @include min(1600) {

      width: 33%;
    }

    .cookie_seting,
    .accept_all {

      @include max(767.98) {
        width: 50%;
      }

      @include min(768) {
        width: 33%;
      }

      @include lg {
        width: 40%;
      }
    }
  }


  .cookies_data {
    p {
      font-size: 14px;
      width: 100%;
      // max-width: 786px;
      margin-bottom: 30px;

      @include min(992) {
        margin-bottom: 0;
        font-size: 12px;
        margin-bottom: 0;
      }

      a {
        color: #116dff;
        text-decoration: none;
        transition: text-decoration ease 0.3s;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .cookies_btn {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;

    :global {
      .row {
        width: 100%;
        --bs-gutter-x: 10px;
        --bs-gutter-y: 10px;
      }

      .btn {
        font-size: 14px;
        min-width: 100%;
        margin-right: 10px;
        --bs-btn-border-color: #007864;

        @include min(992) {
          font-size: 12px;
        }

        &:last-child {
          margin-right: 0;
        }

        @include min(992) {
          min-width: 100%;
        }
      }
    }
  }
}

.modal_app {
  :global {
    .modal-body {
      padding: 30px;

      @include min(992) {
        padding: size(30);
      }
    }

    .modal-dialog {
      @include min(576) {
        max-width: 524px;
      }
    }

    .modal-content {
      border: none;
      border-radius: 15px;
    }

    .btn-close {
      width: 37px;
      height: 37px;
      // background-color: #e0e0e0;
      padding: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      position: absolute;
      right: 10px;
      top: 10px;
      opacity: 1;
      // transform: translate(17%, -47%);

      @include min(992) {
        // transform: translate(37%, -35%);
        width: size(45);
        height: size(45);
      }

      --bs-btn-close-focus-shadow: none;
    }
  }
}

.app_modal {
  display: flex;
  flex-direction: column;
  align-items: center;

  @include min(992) {
    // margin: 0 -30px;
  }

  &>* {
    flex: 0 0 auto;

    // padding: 0 15px;
    @include min(992) {
      // padding: 0 30px;
    }
  }

  &_links {
    // width: 52%;

    h2 {
      font-size: 20px;
      line-height: 1.2;
      margin-bottom: 0;
      // font-weight: 600;

      @include min(992) {
        font-size: size(24);
        line-height: size(31);
      }

      &+h3 {
        margin-top: 18px;
      }
    }

  }

  h3 {
    font-size: 18px;
    margin-bottom: 14px;
    // font-weight: 700;

    @include min(992) {
      font-size: size(24);
      line-height: size(31);
    }

    &+p {
      margin-top: 10px;
    }
  }

  p {
    font-size: 16px;
    line-height: 1.6;
    color: #000000;

    @include min(992) {
      line-height: 1.7;
    }

    &+h3 {
      margin-top: 14px;
    }
    &:last-child{
      margin-bottom: 0;
    }
  }

  a:hover {
    text-decoration: underline;
  }

  &_qr {
    width: 48%;

    .img {
      @include aspectRatio(1, 1);
    }
  }

  button {
    align-self: flex-end;
  }

  .modal_content{
    max-height:30vh;
    overflow-y: auto;
    margin: 20px 0px;
    padding: 0px 15px 0px 0px;
    @include lg{
      margin: 16px 0px;
    }
  }
}

.btn_wrap {
  display: flex;

  &>* {
    margin-right: 1rem;

    img {
      width: 26px;
      height: 26px;
      object-fit: contain;
    }
  }

  :global(.btn) {
    display: block;
    font-size: 16px;
    font-weight: 400;
    color: hsl(0, 0%, 0%);
    transition: all 0.2s ease-out;
    text-decoration: underline;
    margin-top: 20px;

    @include lg {
      margin-top: size(46);
    }
  }
}