@import "../../../styles/util";

.monterrey_card {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;

    @include max(991.98) {
        align-items: center;
        padding: 25px 0;
    }

    &_icon {
        position: relative;
        width: 46px;
        height: 38px;
        margin-bottom: 26px;

        @include min(992) {
            height: 46px;
        }

        img {
            object-fit: contain;
        }
        .icon{
            height: 100%;
        }
    }

    &_info {
        flex: 1 0;
        padding-bottom: 13px;

        @include max(991.98) {
            text-align: center;
        }

        h4 {
            @include lineHeight(20, 26);
            font-weight: 500;
            font-size: 16px;
            color: $text-dark;
            margin-bottom: 12px;
            color: #000;

            @include min(992) {
                font-size: size(22);
                margin-bottom: size(20);
            }
        }

        p {
            @include lineHeight(18, 28);
            font-size: 15px;
            color: $text-dark;
            margin-bottom: 0;
            color: #2F2F2F;

            @include min(992) {
                font-size: size(18);
            }
        }
    }

    &.theme_location {
        .monterrey_card_icon {
            @include max(575.98) {
                height: 32px;
                width: 32px;
                margin-bottom:size(15);
            }
        }

    }
}