@import "../../styles/util";

.mx_reason_sec {
  position: relative;
  background-color: #ecf4f7;
  --size: 1000px;
  overflow: initial;
  padding: 50px 0 30px;

  @include min(992) {
    padding: size(132) 0 size(132);
  }

  :global(.h3) {
    margin-bottom: 26px;
    font-size: 28px;
    text-align: center;

    @include min(992) {
      text-align: left;
      // width: 50%;
      margin-bottom: size(45);
      font-size: size(38);
      letter-spacing: 1px;
      text-align: left;
    }
  }

  // &::before {
  //     position: absolute;
  //     border-radius: 50%;
  //     width: var(--size);
  //     height: var(--size);
  //     background: transparent;
  //     border: 16px solid #ffdd91;

  //     @include min(992) {
  //         content: '';
  //         bottom: -66%;
  //         left: -19%;
  //     }

  // }

  h2 {
    @include min(992) {
      margin-bottom: size(27);
    }
  }

  .icon {
    padding-top: 100%;
    position: relative;

    &_wrap {
      max-width: 60px;
      width: 100%;
      position: absolute;
      z-index: 11;
      right: 75%;
      top: -25px;
      padding: 10px;
      background-color: #fff;
      border-radius: 6px;

      @include min(768) {
        border-radius: 19px;
        padding: 17px;
        top: -40px;
        max-width: size(110);
      }

      @include min(992) {
        right: 75%;
        max-width: size(81);
      }

      @include min(1400) {
        right: 70%;
        max-width: size(110);
      }

      img {
        object-fit: contain;
      }
    }
  }
}

.row {
  @include min(992) {
    --bs-gutter-x: 3.8889rem;
  }
}

.reason {
  padding-top: 13px;

  @include lg {
    padding-top: 0;
  }

  &_item {
    background-color: transparent;
    position: relative;
    transition: 0.1s all;
    padding: 22px;

    &:last-child {
      @include max(991.98) {
        border-bottom: 0;
      }
    }

    @include max(991.98) {
      border-bottom: 1px solid #c8d9de;
    }

    @include min(992) {
      padding: size(26) size(26) size(32) 0;
      padding-left: size(60);
    }

    @include min(1600) {
      padding: size(36) size(35) size(32) 0;
      padding-left: size(60);
    }

    &:hover,
    &.active {
      @include lg {
        border-color: transparent;
        border: 0;
      }

      &::before {
        opacity: 1;
        transform: initial;
      }
    }

    div {
      z-index: 1;
      position: relative;
    }

    &::before {
      // content: '';
      position: absolute;
      left: 0;
      width: 100%;
      top: 0;
      height: 100%;
      border-radius: 15px;
      background: #fff;
      box-shadow: 0px 3px 2px rgba(1, 52, 123, 0.06);
      transition: 0.3s all;
      transform: scale(0.8) translateY(30px);
      transition-delay: 0.1s;
      opacity: 0;
      border-radius: 6px;

      @include min(992) {
        border-radius: size(15);
        content: "";
      }
    }

    h4 {
      line-height: 1.5;
      font-weight: 500;
      font-size: 18px;
      letter-spacing: 0.01em;
      color: $text-dark;
      margin-bottom: 4px;
      position: relative;

      @include min(992) {
        font-size: size(24);
      }

      @include min-max(1200, 1599.98) {
        margin-bottom: 8px;
      }

      &::before {
        content: attr(data-index);
        right: calc(100% + 7px);

        @include min(992) {
          position: absolute;
        }
      }
    }

    p {
      font-size: 14px;
      letter-spacing: 0.01em;
      margin-bottom: 0;
      @include lineHeight(14, 27);

      @include min(992) {
        @include lineHeight(18, 27);
        font-size: 1rem;
      }
    }
  }
}

.cover {
  padding-bottom: 64%;
  position: relative;
  border-radius: 16px;
  background: #fff;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  overflow: hidden;
  margin-bottom: 23px;

  @include min(992) {
    margin-bottom: 0;
  }

  img {
    object-fit: cover;
  }
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 15px;
  background: #fff;
  opacity: 0;
  transition: opacity .6s ease-out, transform .6s ease-out;
  transform-origin: right top;

  &.active {
    opacity: 1;
  }
}

.img_wrap {
  padding-bottom: 64%;
  // position: sticky !important;
  // top: var(--header-height);

  img {
    // transition: 0.5s all ease;
    // transform: scale(1);
  }

  &:hover img {
    transform: scale(1.02);
  }
}