@import "../../../styles/util";

.detail_wrap {

    @include max(991.98) {
        display: flex;
        flex-direction: column;
    }

    width: 100%;
    border-radius: 23px;
    background: #fff;
    border: 1px solid rgba(255, 255, 255, 0.1);
    z-index: 111;
    top: calc(100% + 13px);
    padding: 26px 24px;
    margin-top: 17px;
    margin-bottom: 38px;

    @include min(992) {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
        -webkit-transform: translateY(20px) scale(0.95);
        transition: .3s all $ease;
        -webkit-transition: .3s all $ease ;
    }



    &.anim {
        transition: 1s all $ease;
        -webkit-transition: 1s all $ease;
        opacity: 1;
        -webkit-transform: initial;
        transform: initial;

    }

    @include min(992) {
        padding: size(45) size(37);
        margin-bottom: 0;
        position: absolute;
    }

    h6 {
        @include lineHeight(17, 26);
        font-weight: 600;
        font-size: 1rem;
        margin-bottom: 22px;

        @include min(992) {
            margin-bottom: size(22);
        }
    }

    h3 {
        font-weight: 500;
        font-size: 18px;
        color: $text-dark;

        @include min(992) {
            font-weight: 600;
            font-size: size(24);

        }
    }

    p {
        @include lineHeight(16, 27);
        font-size: 14px;

        @include min(992) {
            font-size: size(16);
        }
    }

    :global {
        .btn-primary {
            @include min(768) {
                max-width: 50%;
                margin: 0 auto;
            }

            @include min(992) {
                max-width: 100%;
            }

        }
    }
}

.title {
    margin-bottom: 13px;

    @include min(992) {
        margin-bottom: 16px;
    }
}

.stat {
    --bs-gutter-x: 20px;

    &_item {
        display: flex;
        align-items: center;
        margin-bottom: 30px;

        h4 {
            font-weight: 500;
            font-size: 25px;
            letter-spacing: 0.01em;
            line-height: 1;
            margin-bottom: 0;

            @include min(992) {
                font-size: size(32);
            }
        }

        p {
            @include lineHeight(14, 23);
            font-size: 14px;
            opacity: 0.6;
            margin-bottom: 0;
            padding-left: 14px;

            @include min(992) {
                padding-left: 20px;
                font-size: size(14);
            }
        }
    }
}

.brand_item {
    position: relative;
    height: 70px;

    img {
        filter: grayscale(1);
        object-fit: contain;
    }
}

.companies {
    margin-bottom: 43px;

    :global {
        .nav-arrow {
            display: none;
        }
    }
}