@import "../../../styles/util";

.modal_sucess {
    .content {
        display: flex;
        justify-content: center;
        align-items: center;

        .tick{
            width: 30px;
            height: 30px;
            background-color: $primary;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            svg{
                fill:#fff !important
            }
        }
        h2{
            font-size: size(30);
            margin-left: size(20);
            margin-bottom: 0;
        }
    }
    :global{
        .modal-content{
            border: 0;
        }
    }
}