@import "../../styles/util";
.section{
    padding: 50px 0;
    @include min(768){
        padding: size(70) 0;

    }
    @include min(1200){
        padding: size(110) 0;

    }
    &_ttl{
        margin-bottom: size(40);
        @include max(992){
            font-size: 24px;
            margin-bottom:27px;
        }
    }
    .quality_card_wrap{
        row-gap: 50px;
    }

}