@import "../../styles/util";

.scroll_sec {
  &.statepage{
    .nav{
      position: relative;
      top: unset;
    }

  }
  :global {
    .dropdown-toggle {
      font-size: 16px;
      padding: 15px 0 15px 45px;
      font-weight: 500;
      border: 0;
      position: relative;

      &::after {
        border: 0;
        position: absolute;
        width: 23px;
        height: 12px;
        left: 8px;
        top: 50%;
        transform: translate(-50%, -50%);
        background-image: url(/images/icon/hambrgr.svg);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
      }

      @include max(991.92) {
        white-space: initial;
        text-align: left;
      }

      @include min-max(992, 1199.98) {
        font-size: 18px;
      }
    }

    .dropdown-menu {
      // width: 100vw;
      // margin-inline-start: 50%;
      // transform: translateX(-50%) !important;

      // overflow-x: auto;
      // border: 0;
      // padding: 10px 0;
      border-radius: 0;
      // transform: translate3d(-50%, 54px, 0px) !important;
      -webkit-box-shadow: 0px 0px 2px 0px rgba(112, 112, 112, 0.63);
      -moz-box-shadow: 0px 0px 2px 0px rgba(112, 112, 112, 0.63);
      box-shadow: 0px 0px 2px 0px rgba(112, 112, 112, 0.63);
      border: none;
      display: block !important;
      opacity: 0;
      pointer-events: none;
      will-change: opacity, transform;
      margin-top: -1.52px;
      // transition: opacity .1s ease, transform .3s ease;

      width: calc(100% - 32px);
      // @include max(991.98){
      // }

      .dropdown-item {
        // padding: 10px;
        // padding-left: 18px;
        // margin: 10px 0;
        padding-left: 45px;
        border: 0;
        white-space: pre-wrap;

        &:first-child {
          margin-top: 0;
        }

        @include min(1200) {
          padding: 10px 7px;
        }

        @include min(1600) {
          padding: 14px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.active {
          &:hover,
          &:active {
            background: $primary !important;
            color: #fff;
          }
        }
      }

      &.show {
        pointer-events: all;
        opacity: 1;
        // transform: translate3d(-50%, 54px, 0px) !important;
      }
    }
  }

  &.align_height {
    li {
      a {
        display: flex;
        align-items: center;
        justify-content: center;

        @include min-max(1200, 1599.98) {
          // white-space: nowrap;
          min-width: 187px;
        }

        min-width: none;
      }
    }
  }

  &.on_center {
    ul {
      li {
        a {
          @include lg {
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }

  .dropdown {
    position: sticky;
    top: 87px;
    background-color: #f4f8fa;
    z-index: 99;

    :global {
      .dropdown {
        margin: 0 auto;
        padding: 0px 16px;

        @include min(576) {
          max-width: 540px;
          padding: 0px 16px;
        }

        @include min(768) {
          max-width: 720px;
          padding: 0px 16px;
        }

        @include lg {
          max-width: 960px;
          padding: 0px 12px;
        }

        a {
          padding-top: 12px;
          padding-bottom: 12px;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.nav {
  // border-bottom: 1px solid #e8e8e8;
  background-color: #fff;
  position: sticky;
  top: var(--header-height);
  width: 100%;
  left: 0;
  z-index: 13;
  // position: relative;

  // overflow-x: auto;
  @include max(991.98) {
    top: 87px;
  }

  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  ul {
    list-style: none;
    margin-bottom: 0;
    padding-left: 0;
    display: flex;
    flex-wrap: nowrap;

    @include lg {
      // align-items: center;
    }

    li {
      flex-basis: 0;
      flex-grow: 1;
      text-align: center;

      .scroll_link {
        height: 100%;
        font-weight: 400;
        line-height: 1.5rem;
        margin-bottom: 0;
        
        
      }

      a {
        padding: 16px 10px;
        height: 100%;
        display: block;
        font-size: 16px;
        white-space: nowrap;
        letter-spacing: 0.01em;
        color: #000;
        background-color: transparent;
        transition: 0.5s all ease;
        position: relative;
        text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);

        &::before {
          content: "";
          position: absolute;
          bottom: -1px;
          width: 100%;
          z-index: 5;
          left: 0;
          height: 2px;
          background: $primary;
          transition: 0.5s all ease;
          transform: scaleX(0);
          transform-origin: left;
        }

        &::after {
          content: "";
          position: absolute;
          right: 0;
          opacity: 1;
          width: 1px;
          height: calc(100% - 25px);
          background: #b7b7b757;
          opacity: 1;
          top: 50%;
          transform: translateY(-50%);
          transition:
            height 0.3s ease-out,
            opacity 0.1s ease;
        }

        &:global(.active-scroll-spy) {
          background-color: #f4f8fa;

          @include min(992) {
            text-shadow: 0px 0px 0px #000;

            &:hover {
              text-shadow: 0px 0px 0px #000;
              color: #000 !important;
            }
          }

          &::before {
            transform: scaleX(1);
          }

          &::after {
            height: 0%;
            opacity: 0.3;
          }
        }
      }

      &:last-child a::after {
        display: none;
      }
    }
  }

  &::after {
    content: "";
    position: absolute;
    background-color: #e8e8e8;
    bottom: -1px;
    width: 100%;
    height: 1px;
  }
}

.theme_sec {
  nav {
    @include max(767.98) {
      border: 0;
      background-color: #f4f8fa !important;
    }

    ul {
      position: relative;

      @include max(767.98) {
        min-height: 50px;
      }

      // li {
      //     position: absolute;
      //     width: 100%;

      //     @include min(768) {
      //         position: relative;
      //         width: initial;
      //     }

      //     a {

      //         display: flex;
      //         align-items: center;
      //         justify-content: center;
      //         padding: size(16) size(30);
      //         white-space: normal !important;

      //         @include max(767.98) {
      //             opacity: 0;
      //             font-size: 16px;
      //             padding: 15px 0 15px 25px;
      //             font-weight: 500;
      //             justify-content: initial;
      //             background-color: #F4F8FA !important;
      //         }

      //         @include min(1200) {
      //             white-space: pre-wrap;
      //         }

      //         &:global(.active-scroll-spy) {
      //             opacity: 1;
      //         }
      //     }
      // }
      li {
        a {
          white-space: pre-wrap;

          @include lg {
            &:hover {
              color: $primary !important;
            }
          }
        }
      }
    }
  }
}

// .about_theme {
//     .nav {
//         li {
//             a {
//                 position: relative;

//                 &::after {
//                     content: "";
//                     position: absolute;
//                     right: 0;
//                     width: 1px;
//                     height: 30px;
//                     background: #909090;
//                     top: 50%;
//                     transform: translateY(-50%);
//                 }

//                 &:global(.active-scroll-spy) {}
//             }
//         }
//     }
// }

.scroll_wrap {
  min-height: 100vh;
}
.scroll_item{
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}