@import "../../styles/util";

.mx_term{
    padding-block: 70px;

    @include lg {
        padding-bottom: size(70) size(0) size(0) size(164);
    }

    /* =====     Unordered List Items     ===== */
    ul,
    ol,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    p {
        font-size: 16px;
        line-height: 1.75;

        @include lg {
            font-size: size(18);
        }

        &+h1,
        &+h2,
        &+h3,
        &+h4,
        &+h5,
        &+h6,
        &+ul,
        &+ol,
        &+figure {
            margin-top: 18;

            @include lg {
                margin-top: size(30);
            }
        }

        &+img {
            margin-top: 40px;

            @include lg {
                margin-top: size(55);
            }
        }
    }

    ul {
        display: block;
        margin: size(24) 0 size(10);
        padding-left: 0;

        li {
            display: block;
            font-size: 16px;
            line-height: 1.4;
            padding-left: size(22);
            position: relative;
            line-height: 1.75;

            @include lg {
                font-size: size(18);
            }

            &+li {
                margin-top: size(10);
            }

            &:before {
                background-color: $primary;
                border: none;
                border-radius: 50%;
                content: '';
                display: block;
                height: size(8);
                left: 0;
                position: absolute;
                top: 11px;
                width: size(8);
            }

            @include max(1199) {
                padding-left: size(20);

                &+li {
                    margin-top: size(10);
                }

                &:before {
                    height: size(8);
                    width: size(8);
                }
            }

            @include max(767) {
                padding-left: size(15);

                &:before {
                    height: size(7);
                    width: size(7);
                }
            }
        }
    }

    /* =====     Ordered List Items     ===== */
    ol {
        margin: size(24) 0 size(10);
        counter-reset: item;

        li {
            display: block;
            line-height: 1.75;
            padding-left: size(20);
            position: relative;

            &+li {
                margin-top: size(15);
            }

            &:before {
                content: counters(item, ".") ".";
                counter-increment: item;
                display: inline-block;
                left: 0;
                position: absolute;
            }
        }

        &.lower-alpha {
            li {
                &:before {
                    content: counters(item, "", lower-alpha)")";
                }
            }
        }

        &.lower-roman {
            li {
                &:before {
                    content: counters(item, "", lower-roman)")";
                }
            }
        }

        &.roman-sub {
            li {
                padding-left: size(30);

                &:before {
                    content: counters(item, ".", upper-roman)".";
                    counter-increment: item;
                    font-weight: 500;
                }

                ol {
                    li {
                        padding-left: size(32);
                    }
                }
            }
        }

        &.decimal-sub {
            li {
                padding-left: size(30);

                &:before {
                    content: counters(item, ". ", decimal)".";
                    counter-increment: item;
                    font-weight: 500;
                }

                ol {
                    padding-top: size(5);

                    li {
                        padding-left: size(32);
                    }

                    ol {
                        li {
                            padding-left: size(50);
                        }
                    }
                }
            }
        }
    }

    ul,
    ol {

        &+h2,
        &+h3,
        &+h4,
        &+h5,
        &+h6 {
            margin-top: 25px;

            @include lg {
                margin-top: size(30);
            }
        }

        &+p,
        &+img {
            margin-top: 18px;

            @include lg {
                margin-top: size(20) !important;
            }
        }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        margin-bottom: 0;
        line-height: 1.2;

        &+img {
            margin-top: 40px;

            @include lg {
                margin-top: size(55);
            }
        }

        &+p,
        &+ul,
        &+ol,
        &+figure {
            margin-top: 14px;

            @include lg {
                margin-top: size(20);
            }
        }
    }


    h1 {
        @include lineHeight(65, 82);
        font-size: 28px;
        font-weight: 600;

        @include min(992) {
            font-size: size(45);
        }

    }


    h2 {
        @include lineHeight(45, 63);
        font-size: 26px;

        @include min(992) {
            font-size: size(35);
        }

    }

    h3 {
        font-size: 22px;

        @include min(992) {
            font-size: size(30);
        }

    }

    h4 {
        font-size: 20px;

        @include min(992) {
            font-size: size(28);
        }
    }

    h5 {
        font-size: 18px;

        @include min(992) {
            font-size: size(25);
        }
    }


    img {

        &+h1,
        &+h2,
        &+h3,
        &+h4,
        &+h5,
        &+h6,
        &+ul,
        &+ol,
        p {
            margin-top: 26px;

            @include lg {
                margin-top: size(52);
            }
        }
    }

    figure {
        margin: 25px 0;

        @include lg {
            margin: 40px 0;
        }

        tr {
            border: 0;

            td {
                &:first-child {
                    padding-left: 0;
                }

            }
        }

        td {
            padding: 10px 30px;
        }
    }
}