@import "../../styles/util";

.mx_feasibility_catalog {
  padding: 0;

  @include min(992) {
    padding: size(100) 0 size(95);
  }

  .accordion {
    &:global {
      &.accordion {
        --bs-accordion-bg: transparent;
        --bs-accordion-border-color: var(--bs-border-color);
        --bs-accordion-border-width: 0px;
        --bs-accordion-border-radius: 0rem;
        --bs-accordion-inner-border-radius: 0;
        --bs-accordion-btn-padding-x: 0rem;
        --bs-accordion-btn-padding-y: 1.3889rem;
        --bs-accordion-btn-color: #000;
        --bs-accordion-btn-bg: #f4f8f8;
        // --bs-accordion-btn-icon: url("/images/icon/plus-green.svg");
        --bs-accordion-btn-icon-transform: rotate(-180deg);
        --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
        // --bs-accordion-btn-active-icon: url("/images/icon/minus-green.svg");
        --bs-accordion-btn-focus-border-color: #000;
        --bs-accordion-btn-focus-box-shadow: none;
        --bs-accordion-body-padding-x: 0rem;
        --bs-accordion-body-padding-y: 1rem;
        --bs-accordion-active-color: #ffffff;
        --bs-accordion-active-bg: #107864;
        --bs-accordion-btn-icon-width: 16px;

        @include min(992) {
          --bs-accordion-body-padding-x: 0;
          --bs-accordion-btn-padding-x: 25px;
          --bs-accordion-btn-icon-width: 1.3333rem;
        }

        .accordion-item {
          transition: border-bottom 0.3s;

          @include min(992) {
            margin-bottom: 14px;
          }
        }

        &-item.active {
          border-bottom: 2px solid #007864;
        }

        &-button {
          line-height: (27 / 16);
          font-weight: 500;
          font-size: 16px;
          position: relative;
          border-radius: 8px !important;

          &::after {
            flex-shrink: 0;
            width: var(--bs-accordion-btn-icon-width);
            height: var(--bs-accordion-btn-icon-width);
            margin-left: auto;
            content: "";
            background-image: var(--bs-accordion-btn-icon);
            background-repeat: no-repeat;
            background-size: var(--bs-accordion-btn-icon-width);
            transition: var(--bs-accordion-btn-icon-transition);
            display: flex;
            flex-direction: row-reverse;
            margin-left: 0px;
            order: -1;

            @include lg {
              margin-right: 34px;
            }
          }

          @include max(991.98) {
            padding-right: 0px;
          }

          @include min(992) {
            font-size: size(18);
            line-height: 1;
          }

          &::before {
            position: absolute;
            left: 0;
            width: 0;
            height: 0;
            background: red;
            border-radius: 50%;
            top: 33px;

            @include min(992) {
              content: "";
            }
          }

          @include min(992) {
            font-size: size(19);
          }
        }

        &-body {}
      }
    }
  }
}

.head_wrap {
  max-width: 726px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 34px;

  h2 {
    text-align: left;

    @include lg {
      text-align: center;
    }
  }

  @include min(992) {
    margin-bottom: size(43);
  }
}

.tab {
  --bs-nav-pills-border-radius: 10rem;
  --bs-nav-link-padding-y: 12px;
  --bs-nav-link-padding-x: 34px;
  --bs-nav-link-font-size: 16px;
  --bs-nav-link-font-weight: 500;
  --bs-nav-link-color: #000;
  // justify-content: center;

  margin-bottom: 31px;

  @include min(992) {
    margin-bottom: size(53);
  }

  :global {
    .nav-item {
      padding: 6px 5px;
      // width: 50%;

      @include min(992) {
        padding: 7px size(13);
      }
    }

    .nav-link {
      border: 1px solid #ccc;
      width: 100%;
      padding: 8px 13px;

      @include min(992) {
        width: initial;
        padding: 12px 36.2px;
      }

      &.active {
        border-color: $primary;
      }
    }
  }
}

.tab_row {
  --bs-gutter-x: 10px;
  --bs-gutter-y: 12px;

  @include lg {
    justify-content: center;
  }
}

.table_wrap {
  background: #eaf7f5;
  padding: 50px 0px;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    height: 100%;
    top: 0;
    width: 100vw;
    margin-inline-start: 50%;
    z-index: -1;
    transform: translateX(-50%);
    background: #eaf7f5;
  }

  @include min(992) {
    padding: 50px 0;
    border-radius: 19px;
  }

  // margin-top: 34px;
  .map_table {
    figure {
      margin-bottom: 0;

      @include max(1198.98) {
        margin-bottom: 41px;
      }
    }

    &:nth-child(2) {
      figure {
        margin-bottom: 0;
      }
    }
  }

  caption {
    padding: 0;
  }

  //   padding-left: 16px;

  //   @include min(576) {
  //     padding-left: 45px;
  //   }

  //   @include min(768){

  //   }

  //   @include max(991.98) {
  //     width: 100vw;
  //     margin-inline-start: 50%;
  //     border-radius: 0;
  //     transform: translateX(-50%);
  //   }

  // @include min(992) {
  //   padding: size(24) size(24) size(44) size(24);
  // }

  h6 {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 31px;
    text-align: left !important;

    @include min(992) {
      font-size: size(18);
      font-weight: 500;
      text-align: center !important;
    }
  }

  .title_main {
    @include min(992) {
      margin-bottom: size(27);
    }
  }

  .title_sub {
    font-size: 16px;
    letter-spacing: 0.01em;
    display: block;
    color: #000;
    margin-bottom: 17px;
    max-width: 250px;

    @include min(576) {
      max-width: 100%;
    }

    @include min(992) {
      font-size: size(16);
      margin-bottom: size(16);
      padding: 0;
    }
  }

  :global(.row) {
    overflow-x: auto;

    flex-direction: column;

    @include min(992) {
      --bs-gutter-x: 1.3333rem;
    }

    @include min(1200) {
      flex-direction: row;
    }
  }

  table {
    tr {
      border-bottom: 0;

      &:nth-child(2) {
        td {
          padding-top: size(31);
        }
      }

      &:first-of-type {
        background-color: #007864;

        td {
          color: #fff;
          font-weight: 500;
          vertical-align: middle;

          p {
            color: #fff;
            font-weight: 500;
            font-size: 15px;
            letter-spacing: 0.01em;
            margin-bottom: 0;

            @include lg {
              font-size: size(15);
            }

            &:last-of-type {
              color: rgba(255, 255, 255, 0.7);
              font-size: 14px;
            }
          }
        }
      }

      td {
        // padding-left: 64px;
        padding: 12px;

        @include min(768) {
          padding: 20px;
          padding-left: 65.5px;
        }

        @include min(1200) {
          padding: 10px;
        }

        @include min(1600) {
          padding: size(10) size(20) size(10) size(5);
        }

        &:first-of-type {
          // padding-left: 25px;

          @include min(1200) {
            padding-left: size(16);
          }
        }

        &:last-of-type {
          padding-right: 25px;

          @include min(1200) {
            padding-right: size(16);
          }
        }
      }

      &:last-of-type {
        td {
          padding-bottom: size(31);
        }
      }
    }

    tbody {
      background-color: #fff;

      td {
        font-size: size(16);
        letter-spacing: 0.01em;
        color: rgba(0, 0, 0, 0.78);
      }
    }
  }

  .table_parse_warp {
    overflow-x: auto;

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    .table_fix {
      @include max(991.98) {
        min-width: 916px;
      }

      @include max(767.98) {
        min-width: 628px;
      }

      .table {
        margin-bottom: 21px;
      }
    }
  }
}

.content_block {
  margin-bottom: 26px;

  .row {
    --bs-gutter-x: 7px;
    --bs-gutter-y: 7px;
  }

  .col_left {
    margin-bottom: 20px;

    @include min(992) {
      order: 1;
      width: 41.75%;
      margin-bottom: 0;
    }
  }

  .col_right {
    order: 2;

    @include min(992) {
      order: 1;
      width: 57.5%;
      padding-top: 3px;
    }
  }

  .title {
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 10px;

    @include min(992) {
      font-size: size(22);
      margin-bottom: 1rem;
    }
  }

  .content {
    ul {
      @extend %list;
      display: flex;
      flex-wrap: wrap;

      &>li {
        flex: 0 0 auto;
        width: 100%;

        @include min(992) {
          width: 50%;
        }
      }
    }

    p,
    li {
      @include lineHeight(16, 25);
      font-size: 14px;
      letter-spacing: 0.01em;

      @include min(992) {
        font-size: size(16);
      }
    }

    &_wrap {
      max-width: 673px;
    }

    p {
      line-height: 1.79;
      font-size: 14px;
      letter-spacing: 0px;
      margin-bottom: 26px;

      @include min(992) {
        @include lineHeight(16, 27);
        font-size: size(16);
        margin-bottom: size(22);
      }
    }
  }

  .img {
    --bs-aspect-ratio: 68.7%;
    border-radius: 11px;
    background: #eee;
    overflow: hidden;

    img {
      object-fit: cover;
      transition: 0.5s all ease;
      transform: scale(1);
    }

    &:hover img {
      transform: scale(1.05);
    }
  }
}

.list_wrap {
  @include lg {
    max-width: 327px;
  }
}

.list_item {
  border-radius: 8px;
  background: #eaf7f5;
  height: 100%;
  padding: 9px 0px 9px 45px;
  font-size: 14px;
  position: relative;

  &::before {
    --size: 30px;
    content: "";
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    position: absolute;
    left: 5px;
    top: 2px;
    background-image: var(--tick-primary);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 44%;
  }

  @include min(992) {
    font-size: size(16);
    padding: 6px 50px 6px size(38);
  }
}

.card {
  padding: 20px 15px;
  background-color: #fff5bb;
  border-radius: 12px;
  max-width: 178px;
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @include max(767.98) {
    scroll-snap-align: start;
    flex: none;
    margin-right: 20px;
  }

  p {
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #000;
    line-height: 1.48;

    @include lg {
      text-align: center;
    }
  }

  h3 {
    font-size: size(16);
    margin-bottom: 4px;
  }

  &_img {

    .img {
      width: 25px;
      height: 25px;
    }

    position: relative;
    margin-bottom: 7.5px;
    display: flex;
    align-items: center;
    align-self: flex-start;

    @include lg {
      align-self: initial;
    }

    img {
      position: relative !important;
    }

    .desk {
      margin-left: 14px;
      margin-bottom: 0;

      @include lg {
        display: none;
      }
    }
  }

  .mob {
    display: none;

    @include lg {
      display: block;
    }
  }

  &:last-child {
    margin-right: 0;
  }
}

.accordian_round {
  @include max(991.98) {
    margin-bottom: 43px;
  }

  .common_row {
    margin-bottom: 28px;

    @include lg {
      margin-bottom: size(75);
    }
  }

  :global {
    .accordion-button {
      &.collapsed::after {
        background-image: url("/images/icon/plus-green.svg");
        margin-right: 23px;

        // @include min(1600) {
        //   margin-right: 65px;
        // }
      }

      &:not(.collapsed)::after {
        // width: 19px;
        margin-right: 23px;
        background-image: url("/images/icon/minus-green.svg");

        // @include lg {
        //   margin-right: 20px;
        // }
      }

      &.collapsed {
        @include max(991.98) {
          // padding: 21px 0 21px 18px;
          padding: 10px 0 10px 18px;
        }
      }

      &:not(.collapsed) {
        @include max(991.98) {
          padding: 10px 0 10px 18px;
        }
      }

      @include lg {
        letter-spacing: -0.01875rem;
      }
    }

    .accordion-body {
      padding: 0;

      // @include lg {
      //     padding-left: size(44);
      // }
      @include min-max(992, 1199) {
        padding-top: 30px;
      }
    }

    .accordion-item {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;

        h2 {
          @include max(991.98) {
            margin-bottom: 10px;
          }
        }
      }

      @include lg {
        margin-bottom: 0;
      }
    }


  }

  .col_left {
    order: 1;
    padding-top: 22px;

    &::-webkit-scrollbar {
      width: 0 !important;
      display: none;
    }

    @include max(991.98) {
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
      scroll-snap-type: x mandatory;
      -webkit-overflow-scrolling: touch;
      overflow-x: scroll;
      --bs-gutter-x: 12px;
    }

    @include lg {
      order: 2;
      width: 15.5%;
      padding-top: size(56);
    }

    :global {
      .row {
        --bs-gutter-y: 31px;
      }
    }

    .card {
      h3 {
        text-align: center;
        // white-space: nowrap;
      }

      @include min(992) {
        margin-bottom: size(31);
      }
    }
  }

  .col_right {
    @include lg {
      order: 2;
      width: 67.6%;
    }
  }
}

.map_deatail_card {
  margin-bottom: 42px;

  @include lg {
    margin-bottom: size(40);
  }

  :global(.row) {
    --bs-gutter-y: 20px;
  }
}

.sea_freight_mexico {
  border-bottom: 1px solid #d9d9d9;

  :global(.row) {
    @include lg {
      --bs-gutter-x: 83px;
    }
  }

  @include lg {
    padding: size(40) 0 size(50) 0;
  }

  .left {
    margin-bottom: 24px;

    @include lg {
      width: 39.4%;
      margin-bottom: 0;
    }

    .img {
      :global(.ratio) {
        --bs-aspect-ratio: 50%;
      }

      img {
        border-radius: 8px;
      }
    }
  }

  .right {
    @include lg {
      width: 60.6%;
    }

    h5 {
      margin-bottom: 10px;

      @include lg {
        font-size: size(18);
        margin-bottom: size(13);
      }
    }
  }
}