@import "../../../styles/util";

.partner_card {
  position: relative;
  height: 100%;
  display: flex;
  cursor: pointer;
  flex-direction: column;

  &::before,
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    background: #dedede;
  }

  &::after {
    background-color: $secondary;
    transition-duration: 0.8s;
    transition-timing-function: cubic-bezier(0.32, 0.94, 0.6, 1);
    transition-property: transform, opacity;
    transform-origin: left;
    transform: scaleX(0);
  }

  &:hover {
    &::after {
      transform: scaleX(1);
    }
  }

  &_img {
    .img {
      @include aspectRatio(253, 301);
      border-radius: 15px;
      background: #f4f4f4;
      object-fit: cover;
      webkit-backface-visibility: hidden;
      -moz-backface-visibility: hidden;
      -webkit-transform: translate3d(0, 0, 0);
      -moz-transform: translate3d(0, 0, 0);
      overflow: hidden;

      img {
        object-fit: cover;
        transition: 0.5s all ease;
        transform: scale(1);
      }
    }
  }

  &_info {
    padding: 21px 0 17px 0;
    // padding: 21px 0 0 0;

    display: flex;
    flex-direction: column;
    flex: 1 0;

    @include lg {
      padding: 19px 0 27px 0;
    }

    :global(.h4) {
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.6;
      color: $text-dark;
      margin-bottom: 5px;
    }

    h6 {
      font-weight: normal;
      font-size: 15px;
      line-height: 1;
      color: #797979;
      margin-bottom: 11px;

      @include lg {
        margin-bottom: 16px;
      }
    }

    p {
      font-size: 14px;
      margin-bottom: 0;
      // margin-top: auto;
    }
  }

  &:hover img {
    @include lg {
      transform: scale(1.05);
    }
  }

  &.secondary_theme {
    &.partner_card {

      &::before,
      &::after {
        @include max(575.98) {
          display: none;
        }
      }
    }

    .partner_card_info {
      padding-top: 10px;
    }
  }
}

.offcanvas {
  --bs-offcanvas-width: 952px;
  padding: 0px 0px 31px 0px;

  @include min(768) {
    padding: size(40) 0 size(40) size(80);
  }

  @include min(992) {}

  &_inner {
    max-width: 630px;
    padding-top: 0;
  }

  .canvas_image {
    width: 100%;
    margin-bottom: 24px;

    @include min(576) {
      max-width: 343px;
    }

    @include min(992) {
      max-width: 285px;
      margin-bottom: size(20);
    }

    img {
      // position: relative !important;
      border-radius: 15px;
      object-fit: cover;
    }

    :global(.ratio) {
      @include max(991.98) {
        --bs-aspect-ratio: 107%;
      }

      @include lg {
        --bs-aspect-ratio: 119%;
      }
    }
  }

  h2 {
    @include lineHeight(24, 53);
    font-size: 24px;
    margin-bottom: 6px;

    @include lg {
      @include lineHeight(37, 53);
      font-size: size(37);
    }
  }

  .info {
    display: flex;

    @include min(992) {
      margin-bottom: size(35);
    }

    p {
      font-size: 16px;
      color: #818181;
      margin-bottom: 16px !important;
      padding: 0 20px;

      @include lg {
        font-size: size(18);
      }

      &:first-child {
        position: relative;
        padding-left: 0;

        &::after {
          position: absolute;
          content: "";
          height: 81%;
          width: 1px;
          right: 0;
          top: 50%;
          transform: translate(-50%, -50%);
          background: #d9d9d9;
        }
      }
    }
  }

  .field {
    max-width: 650px;

    @include lg {
      max-width: 710px;
    }

    ul {
      padding-left: 0;
      margin-bottom: 16px;
      display: flex;
      flex-wrap: wrap;

      @include min(992) {
        margin-bottom: size(30);
      }

      li {
        font-size: 15px;
        list-style: none;
        position: relative;
        max-width: 100%;
        margin-top: 14px;
        width: 100%;
        padding-left: 25px;
        word-break: break-word;

        @include min(768) {
          margin-top: size(18);
          width: 50%;
          font-size: size(16);
        }

        &::before {
          content: url("/images/icon/arrow_green_r.svg");
          margin-right: 14px;
          position: absolute;
          left: 0;
        }

        &:first-child {
          @include max(575.98) {
            margin-top: 0;
          }
        }

        a:hover {
          text-decoration: underlineF;
        }
      }
    }

    :global {
      .row {
        --bs-gutter-y: 14px;

        @include min(992) {
          --bs-gutter-y: 18px;
        }
      }
    }

    ul,
    ol {
      margin: 0;
      padding: 0;

      li {
        @include lineHeight(14, 24);

        @include min(992) {
          @include lineHeight(16, 27);
        }
      }

      &+p,
      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: 16px;

        @include lg {
          margin-top: size(30);
        }
      }
    }

    p {

      &+h1,
      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6,
      &+ul,
      &+ol,
      &+p {
        margin-top: 18;

        @include lg {
          margin-top: size(25);
        }
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 0;
      line-height: 1.2;

      &+p {
        margin-top: 14px;

        @include lg {
          margin-top: size(21);
        }
      }

      &+ul,
      &+ol {
        margin-top: 14px;

        @include lg {
          margin-top: size(5);
        }
      }
    }

    h3 {
      @include lineHeight(45, 63);
      font-size: 26px;

      @include min(992) {
        font-size: size(35);
      }
    }

    h4 {
      font-size: 22px;

      @include min(992) {
        font-size: size(30);
      }
    }

    h5 {
      font-size: 20px;

      @include min(992) {
        font-size: size(28);
      }
    }

    h6,
    strong {
      font-size: 18px;

      @include min(992) {
        font-size: size(25);
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {

      +h1,
      +h2,
      +h3,
      +h4,
      +h5,
      +h6 {
        margin-top: 10px;

        @include lg {
          margin-top: 15px;
        }
      }
    }

    strong {
      font-size: 17px;
      font-weight: 500;

      @include min(992) {
        font-size: size(20);
      }
    }
  }

  :global {
    .offcanvas-body {
      padding-top: 0;

      @include max(991.98) {
        padding-bottom: 30px;
      }

      @include min(768) {
        padding-top: 100px;
      }

      p {
        font-size: 14px;
        @include lineHeight(14, 24);

        @include min(992) {
          @include lineHeight(16, 27);
          margin-bottom: 0 !important;
          font-size: size(16);
          //   max-width: 570px;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }

    .offcanvas-header {
      @include max(991.98) {
        padding: 30px 16px;
      }

      @include min(576) {
        margin-bottom: 14px;
      }

      @include min(768) {
        position: absolute;
        right: 20px;
        z-index: 10;
      }

      @include min(992) {
        padding: initial;
        display: flex;
        margin-bottom: 20px;
        padding-top: size(45);
      }

      .offcanvas-title {
        position: relative;
      }

      .btn-close {
        transition: 0.3s ease;

        @include lg {
          margin-right: size(36);
        }
      }
    }

    // .button {
    //   max-width: 710px;
    //   --btn-background: white;
    //   --btn-color: #007864;
    //   --btn-hover-background:#007864;
    //   width: 100%;
    //   margin-top: 34px;
    //   border: 2px solid;

    //   &:hover {
    //     @include lg {
    //       color: #ffffff !important;
    //       background-color: #007864 !important;
    //     }
    //   }

    //   span {
    //     animation: none;
    //   }
    // }

    .btn {
      margin-top: 34px;
      max-width: 710px;
      width: 100%;
      border: 2px solid;
      color: #ffffff;
      border-radius: 10rem;
      border: 0;
      background: $primary;
      font-weight: 500;

      &:active {
        color: black;
      }

      &:hover {
        background-color: #006050;

        //   color: black;

        span {
          animation: none;
        }
      }

      @include lg {
        padding: size(13) size(30);
      }
    }

    .btn-close {
      &:focus {
        box-shadow: none;
      }
    }
  }
}