@import "../../../styles/util";

.accordion_mobile {
  :global {
    .accordion {
      --bs-accordion-color: #{$text-dark};
      --bs-accordion-bg: #fff;
      --bs-accordion-border-color: var(--bs-border-color);
      --bs-accordion-border-width: 0px;
      --bs-accordion-border-radius: 0rem;
      --bs-accordion-inner-border-radius: 0;
      --bs-accordion-btn-padding-x: 25px;
      --bs-accordion-btn-padding-y: 1rem;
      --bs-accordion-btn-color: #035856;
      --bs-accordion-btn-bg: transparent;
      // --bs-accordion-btn-icon: url("/images/icon/plus-dark.svg");
      --bs-accordion-btn-icon-transform: rotate(-180deg);
      --bs-accordion-btn-icon-transition: transform 0.2s ease-in-out;
      // --bs-accordion-btn-active-icon: url("/images/icon/minus-green.svg");
      --bs-accordion-btn-focus-border-color: #ffffff;
      --bs-accordion-btn-focus-box-shadow: none;
      --bs-accordion-body-padding-x: 25px;
      --bs-accordion-body-padding-y: 1rem;
      --bs-accordion-active-color: #035856;
      --bs-accordion-active-bg: transparent;
      --bs-accordion-btn-icon-width: 16px;

      @include min-max(768, 992) {
        --bs-accordion-btn-padding-y: 32px;
      }

      &-item {
        border-bottom: 1px solid rgba(217, 217, 217, 0.29);
        margin-bottom: 10px;
        border-radius: 10px;
        padding: 19px 25px;
      }

      &-button {
        line-height: (27 / 16);
        font-weight: 500;
        font-size: 16px;
        position: relative;
        letter-spacing: 0.025rem;
        padding: 0;

        @include max(567.98) {
          justify-content: space-between;
        }

        &.collapsed {
          color: #000;
        }

        // :not(.collapsed)::after {
        //   background-image: url("/images/icon/minus-green.svg");

        // }

        &::after {
          transition: transform 0.3s ease;
          background-image: url("/images/icon/plus-dark.svg");

          @include max(567.98) {
            margin-left: 20px;
          }
        }
      }

      &-body {
        @include lineHeight(16, 30);
        font-size: 14px;
        color: $text-dark;
        padding: 20px 0 0 0;

        p {
          @include lineHeight(16, 30);
          font-size: 14px;
          color: $text-dark;
        }
      }
    }

    .accordion-button:not(.collapsed)::after {
      transition: transform 0.3s ease;
      background-image: url("/images/icon/minus-green.svg");
    }
  }

  .head_wrap {
    h2 {
      margin-bottom: 14px;
      @include lineHeight(28, 32);

      @include min(992) {
        @include lineHeight(50, 63);
        margin-bottom: size(18);
      }
    }
  }
}

.item {
  border-bottom: 1px solid #d5d5d5;
  padding-bottom: 6px;
  margin-bottom: 17px;
  padding-left: 20px;
  padding-right: 5px;
  position: relative;

  &::before {
    content: attr(data-index) ".";
    position: absolute;
    left: 0;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #2f2f2f;
    top: -2px;
  }

  h3 {
    @include lineHeight(15, 22);
    font-weight: 500;
    font-size: 15px;
    letter-spacing: 0.01em;
    color: $text-dark;
  }

  .content_wrap {

    li,
    p {
      font-size: 14px;
      letter-spacing: 0.01em;
      color: $text-dark;
    }

    ul {
      list-style: none;
      margin-bottom: 10px;
      padding-left: 0;

      li {
        position: relative;
        padding-left: 22px;

        &::before {
          content: "";
          position: absolute;
          top: 9px;
          left: 0;
          width: 7px;
          height: 7px;
          border-radius: 50%;
          background: #2f2f2f;
        }
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border: 0;
  }
}

.scroll_wrap {
  position: relative;
  max-height: 350px;
  overflow-y: auto;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 122.52px;
    background: linear-gradient(rgba(255, 255, 255, 0) 0%, #fff 100%);
    pointer-events: none;
  }
}

.service_card_footer a {
  display: inline-flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #007864;
  text-decoration: none;

  span {
    color: #e8be4d;
    margin-right: 10px;
    font-size: 22px;
  }
}