@import "../../styles/util";

.mx_detail_scrollspy {
  overflow: initial;

  nav {
    position: relative;

    :global {
      .container {
        @include max(575.98) {
          padding-left: 16px !important;
          padding-right: 16px !important;
        }
      }
    }

    position: sticky;
    top: var(--header-height);
    top: 87px;
    background-color: #fff;
    width: 100%;
    z-index: 111;
    overflow-x: auto;

    ul {
      position: relative;
      list-style: none;
      display: flex;
      padding-left: 0;
      margin-bottom: 0;

      li {
        margin-right: 30px;

        @include min(1200) {
          margin-right: size(70);
        }

        a {
          font-size: 14px;
          letter-spacing: initial;
          color: #000;
          transition: 0.4s all ease;
          position: relative;
          display: block;
          white-space: nowrap;
          padding: 14px 0;
          text-shadow: 0px 0px 1px rgba(0, 0, 0, 0);

          &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            width: 100%;
            height: 2px;
            background: #007864;
            transition: 0.4s all ease;
            transform: scaleX(0);
            transform-origin: left;
          }

          &:global(.active-scroll-spy) {
            text-shadow: 0px 0px 1px black;

            &::before {
              transform: scaleX(1);
            }
          }

          @include min(992) {
            font-size: 16;
          }
        }
      }

      &::after {
        display: none;
        content: "";
        position: absolute;
        width: 100%;
        bottom: 0;
        height: 2px;
        background-color: #e8e8e8;

        @include lg {
          display: block;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 0;
      height: 2px;
      background-color: #e8e8e8;

      @include lg {
        display: none;
      }
    }
  }
}

.content_item {
  // padding: 18px 0;
  border-bottom: 1px solid #e8e8e8;
  overflow: hidden;

  &:last-child {
    border-bottom: 0;
  }

  .common_table_wrap {
    &:last-child h2 {
      opacity: 0;

      @include max(991.98) {
        display: none;
      }
    }
  }

  ul {
    margin-bottom: 0;

    @include max(575.98) {
      padding-top: 17px;
    }
  }

  :global {
    .row {
      // border-bottom: 2px solid #E8E8E8;
    }
  }

  // @include min(992) {
  //   padding: 40px 0;
  // }

  h2.head {
    font-size: 20px;

    @include lg {
      font-size: size(24);
    }
  }

  h2.head_third {
    font-size: size(24);

    // @include min(992) {
    //     margin-bottom: size(45);
    // }
  }

  h2 {
    margin-bottom: 30px;
    letter-spacing: 0.0625rem;
    margin-bottom: 14px;
    font-size: 20px;
    color: $primary;

    @include min(992) {
      color: black;
      letter-spacing: initial;
      font-size: size(24);
      margin-bottom: size(30);
    }
  }

  p {
    font-size: 14px;
    @include lineHeight(16, 27);
  }

  &_about {
    // border-top: 2px solid #e8e8e8;

    padding: 18px 0px 34px 0px;

    @include lg {
      padding: 40px 0px 60px 0px;
    }

    p {
      max-width: 814px;
      @include lineHeight(16, 27);
      font-size: 16px;

      &+p {
        margin-bottom: 10px;

        @include lg {
          margin-bottom: 15px;
        }
      }

      &~span {
        display: inline;
      }

      &+ul {
        padding-top: 0;
      }
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &+ul {
        padding-top: 0;
      }
    }

    ul {
      display: block;
      margin: size(24) 0 size(10);
      padding-left: 0;

      li {
        display: block;
        font-size: 16px;
        line-height: 1.4;
        padding-left: size(22);
        position: relative;
        line-height: 1.75;

        @include lg {
          font-size: size(18);
        }

        &+li {
          margin-top: size(10);
        }

        &:before {
          background-color: $primary;
          border: none;
          border-radius: 50%;
          content: "";
          display: block;
          height: size(8);
          left: 0;
          position: absolute;
          top: 11px;
          width: size(8);
        }

        @include max(1199) {
          padding-left: size(20);

          &+li {
            margin-top: size(10);
          }

          &:before {
            height: size(8);
            width: size(8);
          }
        }

        @include max(767) {
          padding-left: size(15);

          &:before {
            height: size(7);
            width: size(7);
          }
        }
      }
    }

    ul,
    ol {

      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: 25px;

        @include lg {
          margin-top: size(30);
        }
      }

      &+p,
      &+img {
        margin-top: 18px;

        @include lg {
          margin-top: size(20) !important;
        }
      }
    }
  }

  &_more {
    padding: 34px 0px 43px 0px;

    h2 {
      color: hsl(0, 0%, 0%) !important;
    }

    @include lg {
      padding: 40px 0px;
    }

    p {
      margin: 0;
    }

    .row_more {
      position: relative;

      &::after {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        bottom: 0;
        background-color: #e8e8e8;
      }
    }

    ul {
      display: block;
      margin: size(24) 0 size(10);
      padding-left: size(20);

      li {
        display: block;
        font-size: 16px;
        line-height: 1.4;
        padding-left: size(22);
        position: relative;
        line-height: 1.75;

        @include lg {
          font-size: size(18);
        }

        &+li {
          margin-top: size(10);
        }

        &:before {
          background-color: $primary;
          border: none;
          border-radius: 50%;
          content: "";
          display: block;
          height: size(8);
          left: 0;
          position: absolute;
          top: 11px;
          width: size(8);
        }

        @include max(1199) {
          padding-left: size(20);

          &+li {
            margin-top: size(10);
          }

          &:before {
            height: size(8);
            width: size(8);
          }
        }

        @include max(767) {
          padding-left: size(15);

          &:before {
            height: size(7);
            width: size(7);
          }
        }
      }
    }

    ul,
    ol {

      &+h2,
      &+h3,
      &+h4,
      &+h5,
      &+h6 {
        margin-top: 25px;

        @include lg {
          margin-top: size(30);
        }
      }

      &+p,
      &+img {
        margin-top: 18px;

        @include lg {
          margin-top: size(20) !important;
        }
      }
    }
  }

  &_facts {
    padding: 34px 0px 48px 0px;

    @include lg {
      padding: 40px 0px 83px 0px;
    }

    h2 {
      margin-bottom: 28px;

      @include lg {
        margin-bottom: size(46);
      }
    }
  }

  :global(.table) {
    --bs-table-striped-bg: #f5f5f5;
    margin-bottom: 0;

    th,
    td {
      // width: 50%;
      padding: 12px 14px;
      line-height: 1.6875;

      @include min(992) {
        padding: size(11) size(14);
      }
      @include min(1200){
        font-size: 13px;
        text-wrap: nowrap;
      }
@include min(1600){
  font-size: 16px;
  text-wrap: unset;
}
      // padding-left: 0;
      font-weight: normal;
      font-size: 16px;
      letter-spacing: 0.01em;
      border-bottom-width: 0px;
      // line-height: 1.32;
      --bs-table-striped-color: #000;
      
      @include max(991.98){
        width: 50%;
        
      }
    }

    // th {
    //     @include max(575.98) {
    //         padding-left: 0;
    //     }
    // }

    tr {
      td {
        text-align: left;
      }
    }
  }
}

.list_info {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;

  li {
    // @include lineHeight(16, 27);
    line-height: 1.67;
    padding-left: size(78);
    position: relative;
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    font-size: size(16);

    @include lg {
      margin-bottom: size(36);
    }

    span {
      display: block;
      height: 40px;
      width: 40px;
      position: absolute;
      left: 0;

      img {
        object-fit: contain;
        object-position: left;
      }
    }

    &:last-child {
      @include max(767.98) {
        margin-bottom: 0;
      }
    }

    &:nth-child(even) {
      @include min(992) {
        span {
          margin-left: 20px;
        }
      }
    }
  }
}

.contact_card {
  width: 100%;
  border-radius: 16px;
  background: #fff;
  position: sticky;
  top: calc(var(--header-height) + 80px);
  padding: 15px 0px 60px 0px;

  @include min(992) {
    max-width: 390px;
    margin: 40px 0;
    border: 1px solid #eaf0f2;
    box-shadow: 0px 2px 5px rgba(217, 217, 217, 0.37);
  }

  @include min(1600) {
    max-width: size(416);
  }

  &_head {
    padding-bottom: 30px;
    border-bottom: 0.0625rem solid #D2D6D8;

    @include lg {
      padding: 38px 36px 32px 38px;
      border-bottom: 1px solid #d2d6d8;
      // padding-bottom: 0;
    }

    p {
      font-size: 16px;
      line-height: 1.65;
      margin-bottom: 23px;

      @include lg {
        margin-bottom: 32px;
      }
    }

    :global(.h5) {
      @include max(991.98) {
        font-size: 24px;
        margin-bottom: 13.5px;
        line-height: 1;
      }
    }

    :global(.btn) {
      @include max(991.92) {
        width: fit-content !important;
        padding: 16px 65px;
      }
    }
  }

  &_body {
    margin-top: 35px;

    @include lg {
      padding: 34px 36px 37px;
      margin-top: 0;
    }

    h6 {
      margin-bottom: 14px;

      @include lg {
        margin-bottom: 0;
      }

    }

    .row {
      --bs-gutter-x: 0 !important;
    }

    :global {
      .form-floating {
        margin-bottom: 20px;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      .btn {
        margin-top: 36px;

        @include max(991.98) {
          width: fit-content !important;
          padding: 16px 65px;
          margin-top: 10px;

        }
      }

      .form-floating>label,
      .form-select {
        color: rgb(0 0 0 / 100%);
      }

      .form-floating .form-control,
      .form-floating .form-select {
        color: #000;

        @include max(991.98) {
          border-bottom: 0.0625rem solid rgba(0, 0, 0, 33%);
        }
      }

      .form-control::placeholder {
        // color: #000 !important;
      }

      .phonenumber {
        position: relative;

        .iti-flag {
          min-width: 20px;
          margin-right: 11px;
        }

        .flag-container {
          padding: 10px 0;
        }

        .selected-flag {
          display: flex !important;
          align-items: center !important;
          min-width: 74px !important;
          // max-width: 115px !important;
          background-color: unset !important;
          justify-content: unset !important;
          outline: none;
          padding: 10px 15px;
          padding-left: 0;

          .selected-dial-code {
            user-select: none;
            pointer-events: none;
            font-size: 16px;
            padding-left: 0;
          }

          &::after {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 1;
            content: "";
          }
        }

        input[type="tel"] {
          padding-left: 124px !important;
          padding: size(18) 0;

          &::placeholder {
            color: #000;
          }
        }

        .intl-tel-input {
          width: 100%;
        }

        .autoPlaceholder {
          width: 100%;
        }

        .flag-container {
          width: 100%;

          .down {
            &::before {
              position: absolute;
              content: "";
              width: 1px;
              height: 32px;
              top: 0;
              right: -20px;
              // margin-left: 20px;
              background-color: rgba(0, 0, 0, 0.6);
            }
          }
        }

        .country-list {
          width: 100%;
          z-index: 999;
          max-height: 300px;
        }
      }
    }
  }
}

.tag {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 23px;

  @include min(992) {
    margin-bottom: 26px;
  }

  &_item {
    margin-right: 25px;
    font-size: 13px;
    letter-spacing: 0.01em;
    display: flex;
    align-items: center;
    line-height: 1;
    margin-bottom: 13px;

    @include min(992) {
      margin-right: 18px;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

    span {
      --size: 15px;
      display: inline-block;
      margin-right: 12px;
      height: var(--size);
      width: var(--size);
      color: #b2b2b2;
    }
  }
}

.icon {
  width: 100%;
  height: 100%;
}

.main_info {
  padding-top: 30px;

  @include min(992) {
    padding-top: 18px;
  }

  :global {
    .h4 {
      letter-spacing: -0.03125rem;
      width: fit-content;
      margin-bottom: 30px;
      font-size: 20px;
      line-height: 1.6875;

      @include lg {
        font-size: size(24);
      }

      span {
        font-size: 13px;
        font-weight: 500;
        background: #ffdd91;
        padding: 7px 12px;
        margin-left: 5px;
        border-radius: 7px;

        @include min(992) {
          display: none;
        }
      }
    }
  }
}

.file_download {
  line-height: 1;
  padding: 25px 0;

  @include min(992) {
    padding: size(30) 0;
  }

  img {
    margin-right: 10px;
    // margin-bottom: 2px;
  }

  button {
    font-weight: 600;
    font-size: 16px;
    text-decoration: underline;
    text-decoration: none;
    border: none;
    color: $primary;
    background: transparent;
    display: flex;
    align-items: center;
    text-decoration: underline;

    @include min(992) {
      padding-left: 0;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.note {
  @include lineHeight(12, 21);
  font-style: italic;
  font-size: 12px;
  color: #747474;

  @include min(992) {
    font-size: size(16);
    list-style: none;
    line-height: 1.4;
    max-width: 828px;
    margin-bottom: 5px;
  }

  span {
    color: #000;
    font-weight: 500;
  }
}

.content_wrap {
  .row {
    @include min(992) {
      --bs-gutter-x: 3.8rem;
    }
  }
}

.list_star_col {
  --size: 20px;

  padding-top: 0 !important;

  li {
    padding-left: size(44);
    margin-bottom: 27px;

    @include lg {
      margin-bottom: size(34);
    }

    &::before {
      background-size: 40%;
      top: 2px;
    }

    p {
      margin-bottom: 0;
    }
  }

  :global {
    .row {
      .col-lg-4 {
        position: relative;
        display: flex;

        // align-items: center;

        h4 {
          font-size: 18px;
          margin-bottom: 0;
        }

        &::after {
          position: absolute;
          right: 0;
          top: 0px;

          @include min(992) {
            content: ":";
          }
        }
      }

      .col-lg-8 {
        @include min(992) {
          padding-left: size(60);
        }
      }
    }
  }
}

.membership {
  background-color: #fff;
  color: #000;
  border-radius: 7px;
  font-size: 18px;
  display: flex;
  align-items: center;
  font-weight: 600;
  margin-bottom: 15px;
  line-height: 1;

  .gold_plan {
    display: inline-block;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 7px;

    img {
      width: 100%;
      height: 100%;
    }
  }
}