@import "../../styles/util";

.mx_partners_sec {
  padding: 50px 0 50px;
  background-color: #f5f5f7;

  @include lg {
    padding: size(100) 0 size(92) 0;
  }


  .sub_nav_slider {
    :global {
      .swiper {
        &-wrapper {
          @include max(991.98) {
            flex-wrap: wrap !important;
          }
        }

        &-slide {
          @include max(991.98) {
            margin-right: 18px;
            margin-bottom: 12px;
          }
        }

      }
    }
  }

  .service_body {
    min-height: 288px;

    @include min(576) {
      min-height: 258px;
    }

    @include min(1600) {
      min-height: 280px;
    }
  }

  // @include min(320) {
  //   min-height: 1251px;
  // }

  // @include min(768) {
  //   min-height: 814px;
  // }

  @include min(992) {
    padding: size(100) 0 size(90);
    min-height: 847px;
  }

  @include min(1200) {
    min-height: 890px;
  }

  @include min(1600) {
    min-height: 1029px;
  }
}

.head_wrap {
  max-width: 1120px;
  margin-inline: auto;
  margin-bottom: 31px;

  @include min(992) {
    margin-bottom: size(40);
  }

  h2 {
    margin-bottom: 12px;
    font-size: 24px;
    color: $primary;
    text-align: left;

    @include min(992) {
      text-align: center;
      color: black;
      margin-bottom: size(16);
      font-size: size(30);
    }
  }

  p {
    color: #292929;

    @include max(991.98) {
      text-align: left;
    }
  }
}

.nav_wrap {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  @include lg {
    margin-bottom: size(34);
  }

  :global {
    .row {
      @extend %noscroll;
      --bs-gutter-x: 10px;
      flex-wrap: nowrap;
      overflow-x: auto;

      @include min(992) {
        --bs-gutter-x: 1.4444rem;
      }
    }

    .nav-pills {
      @include max(991.98) {
        margin-bottom: 6px;
      }

      --bs-nav-pills-link-active-bg: #{$secondary};

      --bs-nav-pills-link-active-color: #000;


      @include lg {
        padding: 6px size(70);
        margin-right: size(25);
      }
    }

    .nav-item {
      flex: 0 0 auto;
      width: auto;
    }

    .nav-link {
      --bs-nav-pills-border-radius: 10rem;
      background-color: hsl(0, 0%, 100%);
      border: 1px solid #D6D3D3;
      font-weight: 500;
      font-size: 16px;
      color: #000;
      --bs-nav-link-padding-y: 0.6667rem;
      --bs-nav-link-padding-x: 22px;

      @include max(567.98) {
        --bs-nav-link-padding-x: 15px;
        --bs-nav-link-padding-y: 8px;

      }

      @include min-max(768, 991.98) {
        --bs-nav-link-padding-x: 21px;
      }

      &.active {
        border-color: $secondary;
      }

      &:hover {
        @include lg {
          border-color: #eaeded;
          background-color: #eaeded;
        }
      }
    }
  }

  :global {
    .nav-arrow {
      display: none;

      @include min(992) {
        display: block;
      }
    }
  }

}

.location_wrap {
  // display: none;
  display: flex;

  @include max(991.98) {
    margin-bottom: 20px;
    position: relative;
  }

  align-items: center;

  span {
    font-size: size(16);
    color: #707070;
    margin-right: 5px;
  }



  :global {
    .btn {
      padding: 0 !important;
      font-size: 16px !important;
      font-weight: 400 !important;
      border: 0 !important;
      display: flex !important;

      &::after {
        content: "";
        font-family: "icomoon";
        left: 0 !important;
        position: relative !important;
        top: 12px !important;
        border: 0 !important;
        background-image: url(/images/icon/arrow_down_black.svg) !important;
        width: 10px !important;
        height: 10px !important;
        background-size: contain !important;
        background-repeat: no-repeat !important;
        margin-left: 13px !important;
      }
    }

    // .dropdown {
    //   &-item {
    //     transition: 0.3s ease-in-out;
    //     font-size: 16px;
    //     font-weight: 400 !important
    //   }
    //   &-menu {
    //     transition: transform 0.3s ease-in-out, 0.3s opacity;
    //     opacity: 0;
    //     transform: translate(0px, 40px);
    //   }
    //   &.show .dropdown-menu {
    //     transform: initial;
    //     opacity: 1;
    //     pointer-events:all;
    //   }
    // }
    .dropdown {
      &-item {
        font-size: 16px;
        font-weight: 400 !important;
        margin-bottom: 5px;

        @include min(1200) {
          transition: 0.3s ease-in-out;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &:hover {
          background-color: #F0F5F4 !important;
        }

        &.active {
          // color: #000 !important;
        }

        &:active {
          color: #000000;
          transition: none;
        }
      }

      .dropdown-menu {
        border: 0;
        opacity: 0;
        border-radius: 13px;
        pointer-events: none;
        transform: translateY(40px) !important;
        transition: transform 0.3s ease-in-out, 0.3s opacity;

        @include max(991.92) {
          transform: translateY(35px) !important;
          position: inherit;
          margin: 0;
        }

        @include lg {
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
          padding: 20px 0;
          display: inline;
        }

        button {
          transition: background-color 0.3s ease-in-out;
        }
      }

      @include max(991.98) {
        width: 100%;
        position: unset;
      }

      &.show .dropdown-menu {
        transform: initial;
        opacity: 1;
        pointer-events: all;
        border-radius: 13px;
        // max-height: 40vh;
        // overflow-y: scroll;
        z-index: 1;


      }
    }
  }
}

.row {
  --bs-gutter-x: 20px;
  --bs-gutter-y: 36px;

  @include max(567.98) {
    --bs-gutter-y: 10px;
    row-gap: 10px;
  }

  @include min(992) {
    --bs-gutter-x: #{size(24)};
    --bs-gutter-y: #{size(30)};
  }
}

// .card_wrap{

//   @include max(991.98){
//     display: flex;
//   }
// }

.link_wrap {

  @include max(991.98) {
    margin-top: 13px;
  }

  @include lg {
    margin-top: 52px;
  }

  :global {
    .btn {
      padding-top: 0;
      padding-bottom: 0;
      text-decoration: none;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        border: 0;
        background-image: url(/images/icon/arrow_yelllow.svg);
        width: 8px;
        height: 13px;
        display: inline-block;
        background-size: contain;
        background-repeat: no-repeat;
        right: -15px;
        align-items: flex-end;
      }

      @include max(991.98) {
        color: #000;
      }
    }
  }
}

.menu_scroll {
  max-height: 35vh;
  overflow-y: auto;
  overflow-x: hidden;

  @include min(992) {
    max-height: 30vh !important;
  }
}

.slider_wrap {
  @include lg {
    padding: 0;
  }

  :global {
    .nav-arrow {
      @include lg {
        display: block !important;
        --spacing: 10px;
      }
    }

    .swiper {
      @include min(992) {
        &::after {
          content: '';
          width: 50px;
          left: -8px;
          bottom: 0;
          position: absolute;
          z-index: 10;
          display: block;
          height: 100%;
          background: linear-gradient(90deg, rgb(245, 247, 246) 18%, rgb(255 255 255 / 0%));
          pointer-events: none;
          // @include min(768) {
          //   left: -3px;
          // }
        }

        &::before {
          content: '';
          width: 50px;
          right: -8px;
          left: auto;
          rotate: 180deg;
          bottom: 0;
          position: absolute;
          z-index: 10;
          display: block;
          height: 100%;
          background: linear-gradient(90deg, rgb(245, 247, 246) 18%, rgb(255 255 255 / 0%));
          pointer-events: none;

          // @include min(768) {
          //   right: -3px;
          // }
        }

      }
    }
  }
}