@import "../../styles/util";
.section {
  padding: 50px 0 20px 0;
  @include min(768){
    padding: size(70) 0 size(35) 0;
  }
  @include min(1200){

  padding: size(112) 0 size(80) 0;
}

  .ttl {
    margin-bottom: 20px;
    @include min(992){
      margin-bottom: size(40);

    }
  }
  .wrap {
    row-gap: 17px;
  }
  .content_wrap {
    @include min(992) {
      max-width: 93%;
      margin-left: auto;
    }
    @include min(1600) {
      margin-left: unset;
    }
   
    .more_info {
      display: flex;
      align-items: center;
      column-gap: 7px;
      max-width: fit-content;
      span {
        
        font-size: 14px;
        font-weight: 600;
        @include min(992){
          font-size: 16px;
     
        }
        svg {
          fill: #e8be4d !important;
        }
      }
      &_text {
        line-height: 1.7;
      }
    }
    .content{
      p{
        margin-bottom: 10px;
        +p{
          margin-bottom: size(16);
        }
      }
    }
  }
  .video_wrap {
    max-width: 584px;
    width: 100%;
    .video_frame{
      overflow: hidden;
       padding-bottom: 60.7%;
        border-radius: 11px;
        position: relative;
       
        iframe{
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
       
    }
  
   
  }
 
}

